<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">Inizio</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item to="/search" exact exact-active-class="active">Vyhledávání</b-nav-item>
                    <b-nav-item to="/searchHistory" exact exact-active-class="active">Historie vyhledávání</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <b-container>
            <b-card-body>
                <router-view></router-view>
            </b-card-body>
        </b-container>
    </div>
</template>
<script>
    export default {
    }
</script>
