<template>
    <div v-if="company">
        <b-card :title="company.companyName" :sub-title="'IČO '+company.ico">
            <b-card-text>
                Datum registrace: {{dateCreated}}
            </b-card-text>
            <b-card-text>
                Adresa:
                {{address['ulice']}}
                {{address['cisloDomovni']}}/{{address['cisloOrientacni']}}
                {{address['psc']}}
                {{address['mestskaCast']}} - {{address['nazevCastiObce']}},
                {{address['nazevObce']}}
                {{address['nazevOkresu']}}
            </b-card-text>
        </b-card>
    </div>

</template>

<script>
    export default {
        props: {
            company: null
        },
        data() {
            return {
                dateCreated: '',
                address: {}
            }
        },
        watch: {
            company: function(newCompany) {

                // NOTE: I do not personally like this solution. Ideally API should return already mapped data in JSON format.
                if (newCompany === null) {
                    this.address = {};
                    return;
                }
                let xmlDoc = new DOMParser().parseFromString(newCompany.result, "text/xml");
                let xmlResolver = xmlDoc.createNSResolver(xmlDoc.ownerDocument == null ? xmlDoc.documentElement : xmlDoc.ownerDocument.documentElement);

                this.dateCreated = xmlDoc.evaluate('//are:Datum_vzniku', xmlDoc, xmlResolver, XPathResult.STRING_TYPE, null).stringValue;
                this.address['nazevOkresu'] = xmlDoc.evaluate('//are:Adresa_ARES/dtt:Nazev_okresu', xmlDoc, xmlResolver, XPathResult.STRING_TYPE, null).stringValue;
                this.address['nazevObce'] = xmlDoc.evaluate('//are:Adresa_ARES/dtt:Nazev_obce', xmlDoc, xmlResolver, XPathResult.STRING_TYPE, null).stringValue;
                this.address['nazevCastiObce'] = xmlDoc.evaluate('//are:Adresa_ARES/dtt:Nazev_casti_obce', xmlDoc, xmlResolver, XPathResult.STRING_TYPE, null).stringValue;
                this.address['mestskaCast'] = xmlDoc.evaluate('//are:Adresa_ARES/dtt:Nazev_mestske_casti', xmlDoc, xmlResolver, XPathResult.STRING_TYPE, null).stringValue;
                this.address['ulice'] = xmlDoc.evaluate('//are:Adresa_ARES/dtt:Nazev_ulice', xmlDoc, xmlResolver, XPathResult.STRING_TYPE, null).stringValue;
                this.address['cisloDomovni'] = xmlDoc.evaluate('//are:Adresa_ARES/dtt:Cislo_domovni', xmlDoc, xmlResolver, XPathResult.STRING_TYPE, null).stringValue;
                this.address['cisloOrientacni'] = xmlDoc.evaluate('//are:Adresa_ARES/dtt:Cislo_orientacni', xmlDoc, xmlResolver, XPathResult.STRING_TYPE, null).stringValue;
                this.address['psc'] = xmlDoc.evaluate('//are:Adresa_ARES/dtt:PSC', xmlDoc, xmlResolver, XPathResult.STRING_TYPE, null).stringValue;
            }
        }

    }
</script>
