<template>
    <b-container>
        <b-form @submit="onSubmit" @reset="onReset">
            <b-form-group id="input-group-2" label="IČO" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="ico"
                    required
                    placeholder="Zadejte IČO"
                ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Hledat</b-button>
            <b-button type="reset" variant="danger">Resetovat formulář</b-button>
        </b-form>

        <company-detail :company="company" class="mt-2"></company-detail>
    </b-container>
</template>

<script>
    import CompanyDetail from './CompanyDetail'

    export default {
        components: {CompanyDetail},
        data() {
            return {
                company: null,
                ico: ''
            }
        },
        watch: {
            ico: function(newIco) {
                this.fetchCompany(newIco)
            }
        },
        methods: {
            async fetchCompany() {
                if (this.ico !== '' && this.ico.length === 8) {
                    try {
                        const {data} = await this.$http.get(
                            `/api/1.0/ares/company/${this.ico}`
                        );
                        this.company = data;
                    } catch (err) {
                        console.error(`Failed to find company '${this.ico}'`, err);
                        this.$bvToast.toast(`Nepodařilo se najít data o firmě s IČO '${this.ico}'.`, {
                            title: 'Nepodařilo se najít data o firmě',
                            variant: 'danger'
                        });
                        this.company = null;
                    }
                }
            },
            onSubmit(evt) {
                evt.preventDefault();
                this.fetchCompany();

            },
            onReset(evt) {
                evt.preventDefault();
                // Reset form values
                this.ico = '';
                this.company = null;
            }
        }
    }
</script>
