<template>
    <div class="overflow-auto">
        <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
        ></b-pagination>

        <b-table
            id="my-table"
            :fields="fields"
            :items="items"
            :per-page="perPage"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :no-local-sorting="true"
            sort-icon-left
            small
        ></b-table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                sortBy: 'searchedOn',
                sortDesc: false,
                fields: [
                    {key: 'searchedOn', sortable: true, label: 'Datum vyhledání'}, //NOTE: Should be formated
                    {key: 'companyName', sortable: true, label: 'Název společenosti'},
                    {key: 'ico', sortable: false, label: 'IČO'},
                ],
                perPage: 3,
                currentPage: 1,
                rows: 1,
                items: []
            }
        },
        watch: {
            currentPage: function(val) {
                this.fetchHistory();
            }, sortBy: function(val) {
                this.fetchHistory();
            }, sortDesc: function(val) {
                this.fetchHistory();
            },
        },
        mounted: function() {
            this.fetchHistory();
        },
        methods: {
            async fetchHistory() {
                try {
                    const {data} = await this.$http.request(
                        `/api/1.0/history`, {
                            method: 'GET', params:
                                {
                                    sortBy: this.sortBy,
                                    sort: this.sortDesc ? 'ASC' : 'DESC',
                                    limit: this.perPage,
                                    offset: (this.currentPage - 1) * this.perPage
                                }
                        }
                    );
                    this.rows = data.totalCount;
                    this.items = data.items;
                } catch (err) {
                    console.error(`Failed to fetch history data.`, err);
                    this.$bvToast.toast(`Nepodařilo se načíst seznam historie vyhledávání.`, {
                        title: 'Nepodařilo se načíst data.',
                        variant: 'danger'
                    });
                    return null;
                }

            },
        }
    }
</script>
