$grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 640px,
    lg: 992px,
    xl: 1300px
);
$enable-rounded: false;

// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
